extends base

block content
    div#videoContainer(data-id=video._id)
        video(src=`/${video.fileUrl}`).compressed
        div#videoControls
            i#playPause.fas.fa-2x.fa-play-circle
            div
                input(type="range",step="1", value=0, min="0")#timeline
            span#timeSpace
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            i#sound.fas.fa-2x.fa-volume-up
            input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
            div#expand
                i#fullScreen.fas.fa-2x.fa-expand
    //-
        div
            p=video.description
            small=video.createdAt
        div
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
        h3 #{video.meta.views} #{video.meta.views === 1? "view":"views"}
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                button Add a comment
block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")