extends base
include mixins/comment

block content
    div#videoContainer(data-id=video._id)
        if isHeroku
            video(src=`${video.fileUrl}`).compressed
        else
            video(src=`/${video.fileUrl}`).compressed
        div#videoControls
            i#playPause.fas.fa-2x.fa-play-circle
            div
                input(type="range",step="1", value=0, min="0")#timeline
            span#timeSpace
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            i#sound.fas.fa-2x.fa-volume-up
            input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
            div#expand
                i#fullScreen.fas.fa-2x.fa-expand
    
        div
            p#video__title=video.description
            span 조회수 #{video.meta.views} • #{video.createdAt.getFullYear()}. #{video.createdAt.getMonth()}. #{video.createdAt.getDate()}
        hr
        div#author__container
            div
                div
                    if video.owner.avatarUrl
                        if isHeroku
                            img#avatar__box(src=video.owner.avatarUrl)
                        else
                            img#avatar__box(src="/"+video.owner.avatarUrl)
                    else
                        span.smile 😍
                div#uploader__info
                    a(href=`/users/${video.owner._id}`)=video.owner.name            
                    p #{video.description}
            if String(loggedInUser._id) === String(video.owner._id)
                div#video__owner-menu
                    button
                        i.fas.fa-ellipsis-v
                    div.dropdown
                        div#btn__comment-edit
                            i.fas.fa-pencil-alt
                            a(href=`${video.id}/edit`) 편집 &rarr;
                        div#btn__comment-del
                            i.fas.fa-trash-alt
                            a(href=`${video.id}/delete`) 삭제 &rarr;
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                div#button__area
                    button 댓글
    span 댓글 #{video.comments.length}개
    div.video__comments
        each comment in video.comments
            +commentBox(comment,calculateNumOfDays,video.id)
block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")